[**CTRF v0.0.16**](../README.md)

***

[CTRF](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/methods/validate-schema.ts:17](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/methods/validate-schema.ts#L17)

Interface for validation result

## Properties

### errors?

> `optional` **errors**: `string`[]

Defined in: [src/methods/validate-schema.ts:19](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/methods/validate-schema.ts#L19)

***

### valid

> **valid**: `boolean`

Defined in: [src/methods/validate-schema.ts:18](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/methods/validate-schema.ts#L18)
