[**CTRF v0.0.15**](../README.md)

***

[CTRF](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/methods/validate-schema.ts:17

Interface for validation result

## Properties

### errors?

> `optional` **errors**: `string`[]

Defined in: src/methods/validate-schema.ts:19

***

### valid

> **valid**: `boolean`

Defined in: src/methods/validate-schema.ts:18
